<!DOCTYPE html>
<html>
<head>
  <title>ToDoNest</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script>
  	var collection = new ToDoNest.Collections.Todos();
  	collection.reset(gon.todos);
  	console.log(gon.todos);
  </script>
</head>
<body>

<% if current_user %>
	<span id="user_id" style="display: none;"><%= current_user.id %></span>
<% end %>

<div id="container">
	<div id="user_nav">
		<% if user_signed_in? %>
			Logged in as <strong><%= current_user.email %></strong>.
			<%= link_to '<i class="fa fa-user"></i>'.html_safe, edit_user_registration_path %>
			<%= link_to '<i class="fa fa-sign-out"></i>'.html_safe, destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to "Sign up", new_user_registration_path %> |
			<%= link_to '<i class="fa fa-sign-in"></i>'.html_safe, new_user_session_path %>
		<% end %>
		<%= link_to '<i class="fa fa-code-fork"></i>'.html_safe, "/#index_graph" %>
		<%= link_to '<i class="fa fa-home"></i>'.html_safe, "/#todos/0" %>
	</div>

	<%= yield %>
</div>
</body>
</html>
